td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0;
}

svg {
    height: 240px;
}

td:first-of-type, td:first-of-type > div {
    height: 120px;
    width: 500px;
}

td.posts-header > div {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

td.posts-header {
    height: 50px;
}

#posts-title {
    font-size: 18px;
}